@{
    ViewData["Title"] = "Hakkında";
}
<h1>@ViewData["Title"]</h1>

<hr />
<strong>
    Bu proje, stok yönetimini kolaylaştırmak amacıyla geliştirilmiş bir Stok Yönetim Sistemidir. Proje, Model-View-Controller (MVC) mimarisi kullanılarak yapılandırılmış olup, kullanıcıların ürünleri ekleme, silme, güncelleme ve listeleme işlemlerini kolayca gerçekleştirebilmesini sağlar.

    Sistem üzerinden ürün bilgileri (isim, kategori, miktar, fiyat vb.) veritabanına kaydedilerek düzenli bir stok takibi imkanı sunulmaktadır. Kod yapısında katmanlı mimari tercih edilerek sürdürülebilirlik ve geliştirilebilirlik göz önünde bulundurulmuştur.

    Bu proje, Mustafa Bilgehan Ateş tarafından geliştirilmiş ve başarıyla tamamlanmıştır. Gelecekte kullanıcı yönetimi, gelişmiş raporlama ve grafiksel analiz gibi yeni özelliklerle genişletilebilir.

</strong>
